*{
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #282828;
    color: white;
}



ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}
.navtop{
    display: flex;
    justify-content: space-between;
}
