@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

*{
font-family: "Poppins", sans-serif;
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
}


nav{
    display: inline-block;
    margin: 30px 15px 144px 30px;
}
.links{
    color: rgb(60, 110, 204);
}
.links:hover{
    color: rgba(60, 110, 204, 0.63);
}

header > button{
    background-color: rgb(76, 223, 32);
    color: white;
    font-weight: bold;
    margin-left: 30px;
    font-size: 14px;
    padding: 7px;
    border: 0;
    border-radius: 8px;
    width: 120px;
    cursor: pointer;
}
header > button:hover{
    background-color: rgb(102, 230, 51);
}

img{
    display: inline-block;
    margin-right: 500px;
    margin-left: 30px;
    width: 600px;
}
aside{
    display: inline-block;
    width: 500px;
}
aside h1{
    font-size: 60px;
    color: cornflowerblue;
    font-family: "Oswald", serif;
    font-weight: 700;
}
aside p {
    margin-top: 90px;
    margin-bottom: 30px;
    color: rgb(36, 67, 126);
}
aside button{
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin-left: 0px;
    color: rgb(102, 230, 51);
    background: transparent;
}
aside button:hover{
    color: rgb(116, 248, 8);
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.151);
}

@media(max-width:600px){
    header{
        display: flex;
        gap: 10px;
        width: 373px;
    }
    header nav{
        width: 105px;
        margin: 3px 10px 10px 13px;
        
    }
    header button{
        display: inline-block;
        width: 60px;
        position: relative;
        right: 13px;
        margin: 3px 0 10px 0;
    }

    img{
        width: 350px;
        margin-right: 0;
        margin-left: 13px;
    }
    aside{
        display: block;
        margin: auto;
        margin-right: 0;
        width: 320px;
        margin-left: 13px;
    }
    aside h1{
        font-size: 40px;
        width: 350px;
    }
    aside p{
        margin-top: 10px;
        width: 350px;
        line-height: 35px;
    }
    aside button{
        display: block;
        margin: auto;
    }
}
